<p>
  Select category
</p>


  <mat-form-field>
    <mat-select  placeholder="Categories">
      <mat-option>None</mat-option>
      <ng-container *ngFor="let cat of categories">
        <mat-option value="{{cat.CategoryName}}" [routerLink]="[{ outlets: { category: [cat.CategoryRoute] } }]">{{cat.CategoryName}}</mat-option>
      </ng-container>
    </mat-select>
  </mat-form-field>

  <!-- [{ outlet: { category: ['adminpanel/{{cat.CategoryRoute}}'] } }] -->
<div class="row">
  <div  class="col-md-10 offset-md-1">
    <router-outlet name="category" (deactivate)='onDeactivate($event)'></router-outlet>
  </div>
</div>


