<!--The content below is only a placeholder and can be replaced.-->
<!-- <router-outlet></router-outlet> -->

<nav class="navbar navbar-dark bg-dark">
    <a routerLink="" class="navbar-brand text-white">Home</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/adminpanel">Admin Panel</a>
      </li>
    </ul>
    <p>{{cartService.cartList.record[cartService.cartListSize].Title}}</p>
    <button class="btn btn-danger my-2 my-sm-0" routerLink="/profile">Profile</button>
    <button class="btn btn-danger my-2 my-sm-0" (click)="onLogout()">{{userService.userStatus}}</button>
  </nav>
  
  <div class="d-flex" id="wrapper">
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading"></div>
      <div class="list-group list-group-flush">
        <div routerLink="./records" class="list-group-item list-group-item-action bg-light">Records</div>
        <div routerLink="./flags" class="list-group-item list-group-item-action bg-light">Posters</div>
        <div routerLink="./clothings"  class="list-group-item list-group-item-action bg-light">Clothing</div>
        <div class="list-group-item list-group-item-action bg-light">DVD/VHS</div>
        <div class="list-group-item list-group-item-action bg-light">Literature</div>
        <div class="list-group-item list-group-item-action bg-light">Other</div>
      </div>
    </div>
  
    <router-outlet></router-outlet>
  </div>
