<table class="table table-hover">
  <tr *ngFor="let rec of service.list">
    <td (click)="details(rec.RecordID)">{{rec.Band}}-{{rec.Album}}</td>
    <td (click)="populateForm(rec)">{{rec.Year}}</td>
    <td (click)="populateForm(rec)">
      <!-- <img [src]='rec.ImagePath | safe' height="40px" width="40px" alt='{{rec.ImagePath}}'> -->
      <img src="http://localhost:62921/Images/40/{{rec.ImagePath}}" height="40px" width="40px" alt='{{rec.ImagePath}}'>
    </td>
    <td (click)="populateForm(rec)">{{rec.Genre}}</td>
    <td><button (click)="onDelete(rec.RecordID)" class="btn-sm btn-outline-danger">X</button></td>
  </tr>

  
</table>

